 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


button:focus {
	outline: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
}

.js .loading::after {
	/*background: url(../img/electric-guitar.svg) no-repeat 50% 50%;*/
	background-size: 5em;
	pointer-events: none;
	opacity: 0.1;
	animation: loaderAnim 1s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: block;
}

/* Header */
.codrops-header {
	padding: 2em;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
}

.codrops-header__title {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0.75em 0;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25em;
}

.info {
	color: var(--color-info);
	text-align: center;
}

.github {
	display: block;
}

.grid {

}

.grid__item {
	/*padding: 0 4vw;
	margin: 0 0 12vh;*/
}

.grid__item:nth-child(odd) .product {
	/*margin-top: -8em;*/
}

.product {
    height: 100%;
    /* padding-top: 10em; */
     position: relative; 
    cursor: pointer;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
	
	
	    height: 100%;
    /* padding-top: 10em; */
    position: relative;
    cursor: pointer;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    position: relative;
    width: 198px;
    height: 136px;
    overflow: hidden;
    display: block;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
	    z-index: 3;
}

.product__bg {
	height: 100%;
    /* background: var(--details-bg-down); */
    position: relative;
	    display: none;
}

.product__img {
    margin: 0 auto;
    position: relative;
    /* top: 0; */
    /* left: 50%; */
    max-width: 193px;
    width: auto;
    max-height: 90px;
	
	
}

.product__title {
	position: relative;
    margin: 0.5em 0 0;
    font-size: 1.75em;
    color: var(--color-product-title);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    color: #337ab7;
    bottom: 5px;
    text-align: center;
    width: 100%;
    line-height: 12px;
	    z-index: 1;
}

.product__subtitle {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-product-subtitle);
	font-size: 0.85em;
	letter-spacing: 0.115em;
	display: none;
}

.product:hover .product__subtitle {
	color: var(--color-link);
}

.product__description,
.product__price {
	opacity: 0;
	position: absolute;
	margin: 0px !important;
    height: 0px !important;
	display: none;
}

.details {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	padding: 5vh 2vw 5vh 2vw;
	z-index: 9999999999;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
	overflow: auto;
}

.details--open {
	pointer-events: auto;
	/*background: #204b85;*/
}

.details > * {
	position: relative;
	opacity: 0;
}

.details__bg {
	width: 100%;
	position: absolute;
	left: 0;
	/*background:#0c274c;*/
	top: 0;
}

.details__bg--up {
	top: 0;
	height: 23%;
	background: #fff;
}

.details__bg--down {
	/*top: 50vh;
    height: 50vh;*/
	top: 23%;
	height: 77%;
	background: #204b85;
}

.details__img {
    position: relative;
    top: 0px;
    left: 0px;
    height: auto;
    float: none;
    width: auto;
    margin: 0 auto;
    max-width: 20%;
}

.details__bg,
.details__img {
	transform-origin: 0 0;
}

.illustrationPartnerDetail{
	width: 100%;
}
.illustrationPartnerDetail img{
	max-height: 380px;
    max-width: 760px;
}
.details__title {
	margin: -1.5em 0 0.1em;
	font-size: 4.5em;
	color: var(--color-details-title);
	font-family: "Playfair Display", serif;
	font-weight: 700;    
	display: none;
}
.DescriptionPartnerDetail h3{
    font-family: 'acumin-pro-extra-condensed', Arial, sans-serif;
    font-size: 34px;
    letter-spacing: 5px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.details__subtitle {
    margin: 0.75em 0 1em 0;
    font-family: 'acumin-pro-extra-condensed', Arial, sans-serif;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 50px;
    color: #fff;    
	display: none;
}

.details__description {
    line-height: 1.5;
    font-weight: bold;
    max-width: 100%;
    margin: 3em 0 0 0;
    color: #ffffff !important;
    width: 100%;
    position: relative;
    float: left;
	    margin-bottom: 0px !important;
}
.details__description a, .details__description a:hover, .details__description a:visited{
	color: #ffffff !important;
}
.details__description p{
    color: #ffffff !important;
    margin-top: 30px;
    line-height: 20px;
}
.DescriptionPartnerDetail{
	max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
}
.linkToPartner{
	display: table;
    margin: 0 auto;
    width: auto;
    text-align: center;
}
.leftDesc{
    display: inline-block;
    float: left;
    position: relative;
    max-width: 35%;
    padding-right: 20px;    
	margin-top: 20vh;
}
.rightDesc {
    display: inline-block;
    float: right;
    position: relative;
    max-width: 65%;
    padding-left: 20px;
}
.rightDesc img{
	width:100%;
}
.details__price {
    color: #ffffff;
    font-family: 'acumin-pro-extra-condensed', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;    display: none;
}
.details__price a, .details__price a:hover, .details__price a:visited{
	color: #ffffff !important;
}

.details__addtocart {
	border: 0;
	margin: auto 0 0 0;
	background: var(--color-bg-addtocart);
	color: var(--color-addtocart);
	padding: 0.75em 2em;
	font-weight: bold;    display: none;
}

.details__addtocart:hover {
	background: var(--color-btn-hover);
}

.details__close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: none;
	margin: 2em;
	cursor: pointer;
	font-size: 0.85em;
	color: #204b85;
	z-index:9999999;
}

.dummy-menu {
	border: 0;
	background: none;
	padding: 0;
	margin: 2.75em 2.5em 0 0;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 0.85em;
	color: var(--color-close);
	cursor: pointer;
	z-index: 1000;
}

.details__magnifier {
	border: 0;
	background: none;
	background: var(--color-bg-magnifier);
	color: var(--color-magnifier);
	padding: 1em;
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	right: calc(21.5vh + 10vw);
	top: 75vh;
	cursor: pointer;
	display:none;
}

.details__magnifier:hover {
	background: var(--color-btn-hover);
}

.details__deco {
	width: 7em;
	height: 20px;
	background-position: 50% 97%;
	background-size: 150%;    
	display: none;
}

/* Related demos */
.content--related {
	padding: 8em 5vw;
	font-weight: bold;
	text-align: center;
	background: #000;
	color: #f0f0f0;
}

.content--related a:hover {
	color: #fff;
}

.content--related h2 {
	font-size: 1.25em;
}

.content--related .demos {
	padding-bottom: 3em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}
@media screen and (max-width: 1440px) {
	.details__img{
		width: 15%;
	}
}
@media screen and (max-width: 1280px) {
	.details__img{
		width: 15%;
	}
	.illustrationPartnerDetail img {
		max-height: 150px;
	}
}
@media screen and (max-width: 1024px) {
	.DescriptionPartnerDetail {
		margin-top: 30px;
	}
	.details__img {
		width: 20%;
	}
	.DescriptionPartnerDetail h3 {
		font-size: 25px;
	}
}
@media screen and (max-width: 820px) {
	.product{
		width: 150px;
	}
}

@media screen and (max-width: 40em) {
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		/*padding: 0 2vw;*/
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		/*max-height: 19em;*/
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.details {
		padding: 30vh 0 5vh 10vw;
	}
	.details__bg--down {
		top: 20vh;
		height: 100vh;
	}
	.details__title {
		font-size: 2em;
	}
	.details__subtitle {
		font-size: 1em;
	}
	.details__price {
		font-size: 1.5em;
	}
	.details__description {
		max-width: 70%;
		font-size: 0.85em;
		margin: 1em 0 0 0;
	}
	.details__deco {
		height: 7px;
		width: 4em;
	}
	.details__img {
		right: -12vh;
	}
	.details__magnifier {
		right: 7vh;
	}
	.codrops-header {
		padding: 1em 4em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		font-size: 1.25em;
	}
	.dummy-menu {
		margin: 1.75em 1.5em 0 0;
	}
}

@media screen and (max-width: 820px) {
	.details {
		padding: 6vh 3vw 5vh 3vw;
	}
	.details__img {
		width: 50%;
	}
	.product{
	    width: 144px;		
	}
	.product img{
	     max-width: 134px;	
	}
	   

	.illustrationPartnerDetail img {
		max-height: 100px;
		max-width: 100%;
	}
	.details__description {
		max-width: 100%;
		font-size: 0.85em;
		margin: 1.5em 0 0 0;
	}
	.DescriptionPartnerDetail h3 {
		font-size: 20px;
		line-height: 23px;
	}
	.DescriptionPartnerDetail {
		margin-top: 20px;
	}
	.details--open {
		background: #204b85;
	}
	.grid__item {
		float: left;
	}
}
@media screen and (max-height: 800px) {
	.details--open {
		background: #204b85;
	}
}
@media screen and (max-width: 374px) {
	.itemPartner {
		margin-right: 4px;
	}
}
@media screen and (max-width: 768px) {
	.grid__item {
		float: none;
	}
}
@media screen and (min-width: 376px) and (max-width: 425px) {
	.grid__item {
		float: none;
	}
}
@media screen and (max-width: 375px) {
	.grid__item {
		float: left;
	}
}
.details{
	overflow : hidden
}