/* MODAL */

.modal-scrollable {
  z-index: 2000;
}

#contact_popin {
  color: #666;
}

#contact_popin .thanks {
  display: none;
}

#contact_popin .legals {
  display: none;
}

#contact_popin .input-group {
  margin-bottom: 20px;
}

#contact_popin .input-group-addon {
  background-color: none;
}

#contact_popin .input-group.has-error .input-group-addon {
  border-color: #d01c34;
}

#contact_popin .accept {
  font-size: 12px;
}

#contact_popin [type='submit'] {
  background-color: #d01c34;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact_popin .requiredfields {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 11px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#contact_popin .accept.has-error {
  color: #a94442;
}

#contact_popin .accept-partenaire {
  margin-top: 14px;
}

#contact_popin.success #form-container {
  display: none;
}

#contact_popin .thanks,
#contact_popin #form-container {
  height: 445px;
}

#contact_popin.success .thanks {
  position: relative;
  display: block;
}

#contact_popin .form-control {
  box-shadow: none;
}
